/* GENERAL RULES */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
}

ul,li,ol{
    list-style-type: none;
}

body{
    padding: 30px 20px;
    height: 100vh;
    background: linear-gradient(
        to bottom,
        #009688  0px,
        #009688 15vh,
        #DADBD3 15vh,
        #DADBD3 100%)
}

/* BODY RULES */

.container-window{
    max-width: 1000px;
    width: 100%;
}

.window-contact,.window-chat{
    display: flex;
    flex-direction: column;
}

.list_contact,.area_chat{
    flex-grow: 1;
    background-color: white;
    height: 750px;
}

.profile_contact{
    border: solid 1px #bbb9b9;
}

.alert_contact{
    background-color: #8EDAFC;
}

.text_alert{
    color: grey;
    text-decoration: underline;
}

.search_contact{
    background-color: #FAFAFA;
}

.search_bar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-profile{
    border-radius: 50%;
    aspect-ratio: 1;
    object-fit: cover;
    width: 50px;
}

.icon_bell{
    aspect-ratio: 1;
    font-size: 20px;
    color: #8EDAFC;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.alert_contact .row_pr{
    align-items: center;
}

.background_contact:hover{
    background-color: #cfcdcd;
}

.info_message{
    color: grey;
}

.area_chat{
    background: url("https://cloud.githubusercontent.com/assets/398893/15136779/4e765036-1639-11e6-9201-67e728e86f39.jpg");
}

.message-received{
    position: relative;
    background: #fff;
    border-radius: 5px;
    max-width: 50%;
    padding: 12px 8px;
    margin: 8px 100px;
    align-self: start;
}

.message-sent{
    position: relative;
    background: #e1ffc7;
    border-radius: 5px;
    max-width: 50%;
    padding: 12px 8px;
    margin: 8px 100px;
    align-self: end;
}

.time{
    font-size: 10px;
	color: #333;
    position: absolute;
	bottom: 0px;
	right: 4px;
	color: #979797
}

.msg{
    border: 0;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
    width: 100%;
}

.icon{
    font-size: 20px;
}
