<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./CSS/app.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/e05f0025c2.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Boolzapp</title>
</head>
<body id="app">
    <div class="container text-center px-0 container-window">
        <div class="row mx-0">
            <div class="col-4 window-contact px-0">
                <div class="profile_contact bg-body-secondary px-0 ">
                    <div class="d-flex p-2 align-items-center">
                        <div class="col-lg-2">
                            <img src="https://picsum.photos/id/237/200/300" alt="" class="img-profile">
                        </div>
                        <div class="col-lg-1 flex-grow-1 text-start">
                            <p>Il grande Lebowski</p>
                        </div>
                        <div class="col-lg-1">
                            <i class="fa-solid fa-circle-notch"></i>
                        </div>
                        <div class="col-lg-1">
                            <i class="fa-solid fa-message"></i>
                        </div>
                        <div class="col-lg-1">
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>
                </div>
                <div class="alert_contact px-0">
                    <div class="d-flex p-2 align-items-center justify-content-center">
                        <div class="col-lg-2 icon_bell" style="width: 50px;">
                            <i class="fa-solid fa-bell-slash"></i>
                        </div>
                        <div class="col-lg-10 text-start">
                            <p class="mb-0">Ricevi notifiche di nuovi messaggi</p>
                            <p class="mb-0 text_alert">Attiva notifiche desktop</p>
                        </div>
                    </div>
                </div>
                <div class="search_contact px-0">
                    <form class="d-flex p-2" role="search">
                        <div class="input-group">
                            <button class="btn input-group-text bg-dark-subtle" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                            <input class="form-control me-2 bg-dark-subtle" type="search" placeholder="Cerca o inizia una nuova chat" aria-label="Search">
                        </div>
                    </form>
                </div>
                <div class="list_contact px-0">
                    <div class="d-flex p-2 align-items-center background_contact">
                        <div class="col-lg-2 text-start">
                            <img src="https://picsum.photos/id/237/200/300" alt="" class="img-profile">
                        </div>
                        <div class="col-lg-8 text-start">
                            <p class="mb-0">Il grande Lebowski</p>
                            <p class="mb-0 info_message">Ultimo messaggio inviato</p>
                        </div>

                        <div class="col-lg-2">
                            12:00
                        </div>
                    </div>

                    <div v-for="(contact,i) in contacts" @click="setChat(i)" class="background_contact d-flex border border-bottom-1 p-2 align-items-center">
                        <div class="col-lg-2 text-start">
                            <img v-bind:src="contact.avatar" class="img-profile">
                        </div>
                        <div class="col-lg-8 text-start">
                            <p class="mb-0">{{contact.name}}</p>
                        </div>
                        <div class="col-lg-2">
                            12:00
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-8 window-chat px-0">
                <div class="profile_contact bg-body-secondary px-0">
                    <div class="d-flex p-2 align-items-center">
                        <div class="col-lg-1">
                            <img v-bind:src="contacts[currentChat].avatar" alt="" class="img-profile">
                        </div>
                        <div class="col-lg-1 flex-grow-1 text-start">
                            <p class="mb-0">{{contacts[currentChat].name}}</p>
                            <p class="mb-0 info_message">messaggio che cambierà</p>
                        </div>
                        <div class="col-lg-1">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>
                        <div class="col-lg-1">
                            <i class="fa-solid fa-paperclip"></i>
                        </div>
                        <div class="col-lg-1">
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>
                </div>
                <div class="container area_chat">
                    <div class="d-flex flex-column" v-for="singMessage in contacts[currentChat].messages">
                        <div v-if="singMessage.status.includes('sent')" class="message-sent">
                            {{singMessage.message}}
                        </div>
                        <div v-else class="message-received">
                            {{singMessage.message}}
                        </div>
                    </div>
                </div>
                <div class="bar_chat bg-body-secondary">
                    <div class="d-flex p-2 align-items-center icon">
                        <div class="col-lg-1 text-center">
                            <i class="fa-regular fa-face-smile"></i>
                        </div>
                        <div class="col-lg-10 text-center">
                            <input v-model="inputmessage" @keyup.enter="addMessage" name="input" type="text" placeholder="scrivi un messaggio" class="msg">
                        </div>
                        <div class="col-lg-1 text-center">
                            <i class="fa-solid fa-microphone"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="./JS/app.js"></script>
</body>
</html>